<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Color</title>
</head>
<body>
	<form name="colorForm" th:object="${newColor}" method=POST onsubmit="return validate();">
		Hex Color Code: #<input name="hexColor" size="6" th:field="*{hexColor}" oninput="this.value = hexChars(this.value);"><br />
		<input name="Submit" type="submit" value="submit" />
	</form>
	<a href="../inputPalette">Add a new Palette</a>
	<a href="../viewAll">View All Palettes</a>
</body>
<script src="color.js"></script>
